# Map Details
CHAT_LIMIT = 5
MAX_MESSAGE_LENGTH = 32
QUEEN_ANT_INITIAL_HEALTH = 20
SOLDIER_ANT_INITIAL_HEALTH = 6
COLONY_INITIAL_BREAD = 0
COLONY_INITIAL_GRASS = 0
GENERATE_WORKER_BREAD_AMOUNT = 1
GENERATE_SOLDIER_GRASS_AMOUNT = 1
ANT_MAX_VIEW_DISTANCE = 4
ANT_MAX_ATTACK_DISTANCE = 4
ANT_ATTACK_DAMAGE = 2
GAME_MAXIMUM_TURN_COUNT = 150

RATE_DEATH_RESOURCE = 0
BASE_MAX_ATTACK_DISTANCE = 0
BASE_ATTACK_DAMAGE = 0
BASE_INIT_HEALTH = 10
WORKER_MAX_CARRYING_RESOURCE_AMOUNT = 0
# Number of agents for EACH TEAM
# SCORPION = Soldier, ANT = Worker :)
INIT_SCORPIONS = 1

MOVE_NOISE = 0.05
# generate scorpion every felan cycles
SOLDIER_GENERATION_CYCLE_LENGTH = 2
# generate felan scorpions in cycles
SOLDIER_GENERATION_RATE = 1

# server runtime configs
READ_MAP_FROM_FILE = true
